<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Democracy Works! Challenge</title>
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/fa-svg-with-js.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/header-style.css">
  </head>
<body class="text-center">

  <% if(success && success.length > 0){ %>
    <div class="alert alert-success fadeOut" role="alert">
    <%= success %>
  </div>
  <% } %>

  <% if(error && error.length > 0){ %>
    <div class="alert alert-danger fadeOut" role="alert">
      <%= error %>
    </div>
  <% } %>
