<% include partials/header-landing %>

   <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
     <main role="main" class="inner cover">
       <h1 class="cover-heading animated bounceInUp" id="hdr-h1">Democracy Works! Challenge</h1>
       <p class="lead">This site is designed to demonstrate some of my skills using Javascript, Node, and MongoDB. I hope to add other technologies such as Angular, REACT, Cordova, and PostgreSQL to my repertoire!</p>
       <p class="lead">
         <a href="/login" class="btn btn-lg btn-primary animated fadeIn" id="hdr-btn">Get Started</a>
       </p>
     </main>

     <footer class="mastfoot mt-auto">
       <div class="inner">

       <div class="row">
         <div class="col-md-9">
           <p><div class="small"><em> Designed by <a href="http://kzwatkins.github.io">K. Z. Watkins</a> &copy; 2018</em></div></p>
         </div>
         <div class="col-md-3">
           <a href="https://unsplash.com/photos/TZCppMjaOHU" target="_blank" rel="noopener noreferrer" title="Photo by William White" alt="William White - People Raising their Hands in Front of Community Sign"><button class="button btn-secondary btn-sm"><i class="fas fa-camera"></i> <span class="small">William White</span></button></a>
         </div>
       </div>
       </div>
     </footer>
   </div>

<% include partials/landing-footer %>
